
.table-offer {
  float: left;
}

.table-order {
  float: left;
  padding-left: 2%;
}

.table-offer,
.table-order {
  width: 50%;
  background: #1b262c;
  border-top: 1px solid #9d9e9e;
  background: #1b262c;
  color: #9d9e9e;
}

.table-offer tr,
.table-order tr {
  text-align: right;
}

.table-offer tr > td,
.table-order tr > td {
  color: #ebebeb;
  text-align: right;
}
